@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Arial, Helvetica, sans-serif;
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;
        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;
        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;
        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;
        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;
        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;
        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;
        --chart-1: 221.2 83.2% 53.3%;
        --chart-2: 212 95% 68%;
        --chart-3: 216 92% 60%;
        --chart-4: 210 98% 78%;
        --chart-5: 212 97% 87%;
        --radius: 0.5rem;
        --sidebar-background: 0 0% 98%;
        --sidebar-foreground: 240 5.3% 26.1%;
        --sidebar-primary: 240 5.9% 10%;
        --sidebar-primary-foreground: 0 0% 98%;
        --sidebar-accent: 240 4.8% 95.9%;
        --sidebar-accent-foreground: 240 5.9% 10%;
        --sidebar-border: 220 13% 91%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }
    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;
        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;
        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;
        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;
        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;
        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;
        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;
        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;
        --chart-1: 221.2 83.2% 53.3%;
        --chart-2: 212 95% 68%;
        --chart-3: 216 92% 60%;
        --chart-4: 210 98% 78%;
        --chart-5: 212 97% 87%;
        --sidebar-background: 240 5.9% 10%;
        --sidebar-foreground: 240 4.8% 95.9%;
        --sidebar-primary: 224.3 76.3% 48%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 240 3.7% 15.9%;
        --sidebar-accent-foreground: 240 4.8% 95.9%;
        --sidebar-border: 240 3.7% 15.9%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }

    .current-page,
    .disabled {
        pointer-events: none;
        cursor: default;
    }
    .disabled {
        opacity: 0.6;
    }
}

/* Text gradient */
.text-gradients {
    @apply bg-clip-text text-transparent bg-gradient-to-br from-fuchsia-600 to-violet-500;
}
.text-gradient-blue {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-sky-500 to-blue-500;
}
.text-gradient {
    background: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
    background-clip: text;
    color: transparent;
}
.cancel-btn-color {
    @apply bg-gradient-to-r from-pink-500 to-orange-500 text-white;
}

/* Dynamic text clip */
.dynamic-text,
.dynamic-text-2 {
    background-size: cover;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.dynamic-text {
    background-image: url(https://i.makeagif.com/media/11-18-2022/0OX_n9.gif);
}
.dynamic-text-2 {
    background-image: url(https://i.pinimg.com/originals/54/c1/48/54c1480e3be2a062f7ccfe6550002d76.gif);
}

/* Image checkbox */
input.image-checkbox[type="checkbox"][id^="image-checkbox"] {
    display: none;
}
label.image-checkbox-label {
    display: block;
    position: relative;
    cursor: pointer;
}
label.image-checkbox-label:before {
    color: white;
    content: " ";
    display: inline-block;
    border-radius: 50%;
    border: 1px solid purple;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
}
label.image-checkbox-label > * {
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
}
:checked + label.image-checkbox-label {
    border-color: violet;
    border-width: 0.1rem;
    border-radius: 0.75rem;
}
:checked + label.image-checkbox-label:before {
    content: "✓";
    z-index: 999;
    background: url(https://i.makeagif.com/media/11-18-2022/0OX_n9.gif) no-repeat 50% 50%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.1);
}
:checked + label.image-checkbox-label > * {
    transform: scale(0.95);
    z-index: -1;
}

/* background wave */
.my-section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}
.my-section .air {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
    background-size: 1000px 100px;
}
.my-section .air.air1 {
    animation: wave 30s linear infinite;
    z-index: 1000;
    animation-delay: 0s;
    bottom: 0;
}
.my-section .air.air2 {
    animation: wave2 15s linear infinite;
    z-index: 999;
    animation-delay: -5s;
    bottom: 10px;
}
.my-section .air.air3 {
    animation: wave 30s linear infinite;
    z-index: 998;
    animation-delay: -2s;
    bottom: 15px;
}
.my-section .air.air4 {
    animation: wave2 5s linear infinite;
    z-index: 997;
    animation-delay: -5s;
    bottom: 20px;
}
@keyframes wave {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: 1000px;
    }
}
@keyframes wave2 {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: -1000px;
    }
}

/* Froala rich text editor */
.fr-box.fr-basic.fr-top {
    margin-top: 0;
}
.fr-box.fr-basic .fr-element {
    min-height: 8rem !important;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 300px;
    aspect-ratio: 1;
    padding: 10px;
    box-sizing: border-box;
    display: grid;
    background: #fff;
    filter: blur(3px) contrast(7) hue-rotate(290deg);
    mix-blend-mode: darken;
}
.loader:before {
    content: "";
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #ff0000;
    background: currentColor;
    box-shadow: -50px 0, 50px 0, 0 50px, 0 -50px;
    animation: l6 1s infinite alternate;
}
@keyframes l6 {
    90%,
    100% {
        box-shadow: -10px 0, 10px 0, 0 10px, 0 -10px;
        transform: rotate(180deg);
    }
}

/* customizable snowflake falling style */
.snowflake {
    color: #fff;
    font-size: 1.4rem;
    text-shadow: 0 0 1px #ccc;
    z-index: 0;
}

@-webkit-keyframes snowflakes-fall {
    0% {
        top: -10%;
    }
    100% {
        top: 100%;
    }
}
@-webkit-keyframes snowflakes-shake {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
    50% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px);
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}
@keyframes snowflakes-fall {
    0% {
        top: -10%;
    }
    100% {
        top: 100%;
    }
}
@keyframes snowflakes-shake {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(80px);
    }
    100% {
        transform: translateX(0px);
    }
}
.snowflake {
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-animation-name: snowflakes-fall, snowflakes-shake;
    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running;
}
.snowflake:nth-of-type(0) {
    left: 1%;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s;
}
.snowflake:nth-of-type(1) {
    left: 10%;
    -webkit-animation-delay: 1s, 1s;
    animation-delay: 1s, 1s;
}
.snowflake:nth-of-type(2) {
    left: 20%;
    -webkit-animation-delay: 6s, 0.5s;
    animation-delay: 6s, 0.5s;
}
.snowflake:nth-of-type(3) {
    left: 30%;
    -webkit-animation-delay: 4s, 2s;
    animation-delay: 4s, 2s;
}
.snowflake:nth-of-type(4) {
    left: 40%;
    -webkit-animation-delay: 2s, 2s;
    animation-delay: 2s, 2s;
}
.snowflake:nth-of-type(5) {
    left: 50%;
    -webkit-animation-delay: 8s, 3s;
    animation-delay: 8s, 3s;
}
.snowflake:nth-of-type(6) {
    left: 60%;
    -webkit-animation-delay: 6s, 2s;
    animation-delay: 6s, 2s;
}
.snowflake:nth-of-type(7) {
    left: 70%;
    -webkit-animation-delay: 2.5s, 1s;
    animation-delay: 2.5s, 1s;
}
.snowflake:nth-of-type(8) {
    left: 80%;
    -webkit-animation-delay: 1s, 0s;
    animation-delay: 1s, 0s;
}
.snowflake:nth-of-type(9) {
    left: 90%;
    -webkit-animation-delay: 3s, 1.5s;
    animation-delay: 3s, 1.5s;
}

/* Firework css */
.firework > .firework__before,
.firework > .firework__after {
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
        0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
        0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
        0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
        0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
        0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
    -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards,
        5s position linear infinite backwards;
    -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards,
        5s position linear infinite backwards;
    -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards,
        5s position linear infinite backwards;
    -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards,
        5s position linear infinite backwards;
    animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards,
        5s position linear infinite backwards;
}

.firework > .firework__after {
    -moz-animation-delay: 1.25s, 1.25s, 1.25s;
    -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
    -o-animation-delay: 1.25s, 1.25s, 1.25s;
    -ms-animation-delay: 1.25s, 1.25s, 1.25s;
    animation-delay: 1.25s, 1.25s, 1.25s;
    -moz-animation-duration: 1.25s, 1.25s, 6.25s;
    -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
    -o-animation-duration: 1.25s, 1.25s, 6.25s;
    -ms-animation-duration: 1.25s, 1.25s, 6.25s;
    animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
    to {
        box-shadow: -152px 2.6666666667px #ccff00, -103px -207.3333333333px #00ffdd, -158px -111.3333333333px #00ff33,
            -108px -9.3333333333px #00ddff, -79px -17.3333333333px #ff001e, -178px -55.3333333333px #9500ff,
            -160px -18.3333333333px #e600ff, 97px -192.3333333333px #ffa600, 194px -102.3333333333px #ff4400,
            -72px -174.3333333333px #1100ff, -210px -168.3333333333px #008cff, 109px -245.3333333333px #00ffaa,
            -141px -63.3333333333px #009dff, 82px 50.6666666667px #aa00ff, 166px -299.3333333333px #d000ff,
            -235px -216.3333333333px #bbff00, -157px -146.3333333333px #00ff91, 36px -109.3333333333px #00b7ff,
            -235px -301.3333333333px #ff9d00, 249px -314.3333333333px #ff5900, -72px -254.3333333333px #ff2600,
            215px -168.3333333333px #6fff00, 198px -321.3333333333px #00ff04, -67px -259.3333333333px #a2ff00,
            -228px -262.3333333333px #00ffe1, -210px -145.3333333333px #00bbff, -4px -124.3333333333px #eaff00,
            -27px -174.3333333333px #9d00ff, -26px -23.3333333333px #e1ff00, -154px -216.3333333333px #00ff04,
            -220px -318.3333333333px #ff6f00, 243px -297.3333333333px #3cff00, -107px -69.3333333333px #00e1ff,
            -19px -313.3333333333px #ff0011, 231px 22.6666666667px #00f7ff, 96px -258.3333333333px #00ff6f,
            -30px -278.3333333333px #ff0088, 250px -1.3333333333px #73ff00, -147px -294.3333333333px #0009ff,
            -181px -43.3333333333px #6f00ff, -32px -214.3333333333px #ff001e, 228px -227.3333333333px deepskyblue,
            93px -314.3333333333px #ff0062, 207px -138.3333333333px #c8ff00, 198px -101.3333333333px #5eff00,
            147px -183.3333333333px #ff3c00, 3px 63.6666666667px #ff2b00, -241px -8.3333333333px #0d00ff,
            -216px -307.3333333333px #00ffa2, 53px -179.3333333333px #8400ff, -210px -31.3333333333px #001eff,
            163px -317.3333333333px #51ff00, -213px -143.3333333333px #b700ff, 161px -124.3333333333px #aeff00,
            -69px -41.3333333333px #d0ff00, 31px -319.3333333333px #ffee00, -54px -194.3333333333px #ff0073,
            191px -173.3333333333px #c400ff, 234px -299.3333333333px #ff0059, -214px -282.3333333333px #ff00aa,
            43px -27.3333333333px #00ffae;
    }
}
@-moz-keyframes bang {
    to {
        box-shadow: -152px 2.6666666667px #ccff00, -103px -207.3333333333px #00ffdd, -158px -111.3333333333px #00ff33,
            -108px -9.3333333333px #00ddff, -79px -17.3333333333px #ff001e, -178px -55.3333333333px #9500ff,
            -160px -18.3333333333px #e600ff, 97px -192.3333333333px #ffa600, 194px -102.3333333333px #ff4400,
            -72px -174.3333333333px #1100ff, -210px -168.3333333333px #008cff, 109px -245.3333333333px #00ffaa,
            -141px -63.3333333333px #009dff, 82px 50.6666666667px #aa00ff, 166px -299.3333333333px #d000ff,
            -235px -216.3333333333px #bbff00, -157px -146.3333333333px #00ff91, 36px -109.3333333333px #00b7ff,
            -235px -301.3333333333px #ff9d00, 249px -314.3333333333px #ff5900, -72px -254.3333333333px #ff2600,
            215px -168.3333333333px #6fff00, 198px -321.3333333333px #00ff04, -67px -259.3333333333px #a2ff00,
            -228px -262.3333333333px #00ffe1, -210px -145.3333333333px #00bbff, -4px -124.3333333333px #eaff00,
            -27px -174.3333333333px #9d00ff, -26px -23.3333333333px #e1ff00, -154px -216.3333333333px #00ff04,
            -220px -318.3333333333px #ff6f00, 243px -297.3333333333px #3cff00, -107px -69.3333333333px #00e1ff,
            -19px -313.3333333333px #ff0011, 231px 22.6666666667px #00f7ff, 96px -258.3333333333px #00ff6f,
            -30px -278.3333333333px #ff0088, 250px -1.3333333333px #73ff00, -147px -294.3333333333px #0009ff,
            -181px -43.3333333333px #6f00ff, -32px -214.3333333333px #ff001e, 228px -227.3333333333px deepskyblue,
            93px -314.3333333333px #ff0062, 207px -138.3333333333px #c8ff00, 198px -101.3333333333px #5eff00,
            147px -183.3333333333px #ff3c00, 3px 63.6666666667px #ff2b00, -241px -8.3333333333px #0d00ff,
            -216px -307.3333333333px #00ffa2, 53px -179.3333333333px #8400ff, -210px -31.3333333333px #001eff,
            163px -317.3333333333px #51ff00, -213px -143.3333333333px #b700ff, 161px -124.3333333333px #aeff00,
            -69px -41.3333333333px #d0ff00, 31px -319.3333333333px #ffee00, -54px -194.3333333333px #ff0073,
            191px -173.3333333333px #c400ff, 234px -299.3333333333px #ff0059, -214px -282.3333333333px #ff00aa,
            43px -27.3333333333px #00ffae;
    }
}
@-o-keyframes bang {
    to {
        box-shadow: -152px 2.6666666667px #ccff00, -103px -207.3333333333px #00ffdd, -158px -111.3333333333px #00ff33,
            -108px -9.3333333333px #00ddff, -79px -17.3333333333px #ff001e, -178px -55.3333333333px #9500ff,
            -160px -18.3333333333px #e600ff, 97px -192.3333333333px #ffa600, 194px -102.3333333333px #ff4400,
            -72px -174.3333333333px #1100ff, -210px -168.3333333333px #008cff, 109px -245.3333333333px #00ffaa,
            -141px -63.3333333333px #009dff, 82px 50.6666666667px #aa00ff, 166px -299.3333333333px #d000ff,
            -235px -216.3333333333px #bbff00, -157px -146.3333333333px #00ff91, 36px -109.3333333333px #00b7ff,
            -235px -301.3333333333px #ff9d00, 249px -314.3333333333px #ff5900, -72px -254.3333333333px #ff2600,
            215px -168.3333333333px #6fff00, 198px -321.3333333333px #00ff04, -67px -259.3333333333px #a2ff00,
            -228px -262.3333333333px #00ffe1, -210px -145.3333333333px #00bbff, -4px -124.3333333333px #eaff00,
            -27px -174.3333333333px #9d00ff, -26px -23.3333333333px #e1ff00, -154px -216.3333333333px #00ff04,
            -220px -318.3333333333px #ff6f00, 243px -297.3333333333px #3cff00, -107px -69.3333333333px #00e1ff,
            -19px -313.3333333333px #ff0011, 231px 22.6666666667px #00f7ff, 96px -258.3333333333px #00ff6f,
            -30px -278.3333333333px #ff0088, 250px -1.3333333333px #73ff00, -147px -294.3333333333px #0009ff,
            -181px -43.3333333333px #6f00ff, -32px -214.3333333333px #ff001e, 228px -227.3333333333px deepskyblue,
            93px -314.3333333333px #ff0062, 207px -138.3333333333px #c8ff00, 198px -101.3333333333px #5eff00,
            147px -183.3333333333px #ff3c00, 3px 63.6666666667px #ff2b00, -241px -8.3333333333px #0d00ff,
            -216px -307.3333333333px #00ffa2, 53px -179.3333333333px #8400ff, -210px -31.3333333333px #001eff,
            163px -317.3333333333px #51ff00, -213px -143.3333333333px #b700ff, 161px -124.3333333333px #aeff00,
            -69px -41.3333333333px #d0ff00, 31px -319.3333333333px #ffee00, -54px -194.3333333333px #ff0073,
            191px -173.3333333333px #c400ff, 234px -299.3333333333px #ff0059, -214px -282.3333333333px #ff00aa,
            43px -27.3333333333px #00ffae;
    }
}
@-ms-keyframes bang {
    to {
        box-shadow: -152px 2.6666666667px #ccff00, -103px -207.3333333333px #00ffdd, -158px -111.3333333333px #00ff33,
            -108px -9.3333333333px #00ddff, -79px -17.3333333333px #ff001e, -178px -55.3333333333px #9500ff,
            -160px -18.3333333333px #e600ff, 97px -192.3333333333px #ffa600, 194px -102.3333333333px #ff4400,
            -72px -174.3333333333px #1100ff, -210px -168.3333333333px #008cff, 109px -245.3333333333px #00ffaa,
            -141px -63.3333333333px #009dff, 82px 50.6666666667px #aa00ff, 166px -299.3333333333px #d000ff,
            -235px -216.3333333333px #bbff00, -157px -146.3333333333px #00ff91, 36px -109.3333333333px #00b7ff,
            -235px -301.3333333333px #ff9d00, 249px -314.3333333333px #ff5900, -72px -254.3333333333px #ff2600,
            215px -168.3333333333px #6fff00, 198px -321.3333333333px #00ff04, -67px -259.3333333333px #a2ff00,
            -228px -262.3333333333px #00ffe1, -210px -145.3333333333px #00bbff, -4px -124.3333333333px #eaff00,
            -27px -174.3333333333px #9d00ff, -26px -23.3333333333px #e1ff00, -154px -216.3333333333px #00ff04,
            -220px -318.3333333333px #ff6f00, 243px -297.3333333333px #3cff00, -107px -69.3333333333px #00e1ff,
            -19px -313.3333333333px #ff0011, 231px 22.6666666667px #00f7ff, 96px -258.3333333333px #00ff6f,
            -30px -278.3333333333px #ff0088, 250px -1.3333333333px #73ff00, -147px -294.3333333333px #0009ff,
            -181px -43.3333333333px #6f00ff, -32px -214.3333333333px #ff001e, 228px -227.3333333333px deepskyblue,
            93px -314.3333333333px #ff0062, 207px -138.3333333333px #c8ff00, 198px -101.3333333333px #5eff00,
            147px -183.3333333333px #ff3c00, 3px 63.6666666667px #ff2b00, -241px -8.3333333333px #0d00ff,
            -216px -307.3333333333px #00ffa2, 53px -179.3333333333px #8400ff, -210px -31.3333333333px #001eff,
            163px -317.3333333333px #51ff00, -213px -143.3333333333px #b700ff, 161px -124.3333333333px #aeff00,
            -69px -41.3333333333px #d0ff00, 31px -319.3333333333px #ffee00, -54px -194.3333333333px #ff0073,
            191px -173.3333333333px #c400ff, 234px -299.3333333333px #ff0059, -214px -282.3333333333px #ff00aa,
            43px -27.3333333333px #00ffae;
    }
}
@keyframes bang {
    to {
        box-shadow: -152px 2.6666666667px #ccff00, -103px -207.3333333333px #00ffdd, -158px -111.3333333333px #00ff33,
            -108px -9.3333333333px #00ddff, -79px -17.3333333333px #ff001e, -178px -55.3333333333px #9500ff,
            -160px -18.3333333333px #e600ff, 97px -192.3333333333px #ffa600, 194px -102.3333333333px #ff4400,
            -72px -174.3333333333px #1100ff, -210px -168.3333333333px #008cff, 109px -245.3333333333px #00ffaa,
            -141px -63.3333333333px #009dff, 82px 50.6666666667px #aa00ff, 166px -299.3333333333px #d000ff,
            -235px -216.3333333333px #bbff00, -157px -146.3333333333px #00ff91, 36px -109.3333333333px #00b7ff,
            -235px -301.3333333333px #ff9d00, 249px -314.3333333333px #ff5900, -72px -254.3333333333px #ff2600,
            215px -168.3333333333px #6fff00, 198px -321.3333333333px #00ff04, -67px -259.3333333333px #a2ff00,
            -228px -262.3333333333px #00ffe1, -210px -145.3333333333px #00bbff, -4px -124.3333333333px #eaff00,
            -27px -174.3333333333px #9d00ff, -26px -23.3333333333px #e1ff00, -154px -216.3333333333px #00ff04,
            -220px -318.3333333333px #ff6f00, 243px -297.3333333333px #3cff00, -107px -69.3333333333px #00e1ff,
            -19px -313.3333333333px #ff0011, 231px 22.6666666667px #00f7ff, 96px -258.3333333333px #00ff6f,
            -30px -278.3333333333px #ff0088, 250px -1.3333333333px #73ff00, -147px -294.3333333333px #0009ff,
            -181px -43.3333333333px #6f00ff, -32px -214.3333333333px #ff001e, 228px -227.3333333333px deepskyblue,
            93px -314.3333333333px #ff0062, 207px -138.3333333333px #c8ff00, 198px -101.3333333333px #5eff00,
            147px -183.3333333333px #ff3c00, 3px 63.6666666667px #ff2b00, -241px -8.3333333333px #0d00ff,
            -216px -307.3333333333px #00ffa2, 53px -179.3333333333px #8400ff, -210px -31.3333333333px #001eff,
            163px -317.3333333333px #51ff00, -213px -143.3333333333px #b700ff, 161px -124.3333333333px #aeff00,
            -69px -41.3333333333px #d0ff00, 31px -319.3333333333px #ffee00, -54px -194.3333333333px #ff0073,
            191px -173.3333333333px #c400ff, 234px -299.3333333333px #ff0059, -214px -282.3333333333px #ff00aa,
            43px -27.3333333333px #00ffae;
    }
}
@-webkit-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}
@-moz-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}
@-o-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}
@-ms-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}
@keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}
@-webkit-keyframes position {
    0%,
    19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }
    20%,
    39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }
    40%,
    59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }
    60%,
    79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }
    80%,
    99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}
@-moz-keyframes position {
    0%,
    19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }
    20%,
    39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }
    40%,
    59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }
    60%,
    79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }
    80%,
    99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}
@-o-keyframes position {
    0%,
    19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }
    20%,
    39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }
    40%,
    59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }
    60%,
    79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }
    80%,
    99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}
@-ms-keyframes position {
    0%,
    19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }
    20%,
    39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }
    40%,
    59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }
    60%,
    79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }
    80%,
    99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}
@keyframes position {
    0%,
    19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }
    20%,
    39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }
    40%,
    59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }
    60%,
    79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }
    80%,
    99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}
